table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #dddddd;
}

.table-color-status {
    border-radius: 7px;
    cursor: default;
    padding: 3px 6px 3px 6px;  
}

.search-icon {
    cursor: pointer;
    margin-left: 10px;
    font-size: 30px;
    vertical-align: middle;
}