<mat-toolbar color="primary" style="padding-left: 30px;">
  <span>XDP Monitoring Tool</span>
</mat-toolbar>
<div class="<ng-container ></ng-container>" style="margin: 3% 3%;">
  <h1>Patient Registry</h1>
  <mat-form-field style="width: 30%;">
    <mat-label>Search by Patient ID</mat-label>
    <input id="patient-search" (keyup)="searchPatient($event)" matInput/>
  </mat-form-field>
  <mat-icon (click)="triggerSearch()"class="search-icon">search</mat-icon>
  <h1 *ngIf="tests.length" style="margin: 20px 0;">Evaluation History</h1>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let test of tests" style="margin: 20px 0;">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2 style="padding-top: 20px;">{{test['Date']}}</h2>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>
            Evaluations conducted on {{test['Date']}}
        </mat-panel-description>
        <hr>
        <div>
          <table>
            <tr>
              <th>Scale</th>
              <th>Test Type</th>
              <th>Status</th>
              <th>Score</th>
              <th>Data</th>
            </tr>
            <tr *ngFor="let updrs_test of test['UPDRS Scale']">
              <td>UPDRS Scale</td>
              <td>{{updrs_test['Test type']}}</td>
              <td>
                <button mat-flat-button class="table-color-status" 
                    [style.background-color]="getColour(updrs_test['Status'])"
                    style="border-width: 2px; cursor: default; width: 200px;">{{updrs_test['Status']}}
                </button>
              </td>
              <td>{{updrs_test['Score']}}</td>
              <td><button mat-raised-button color="accent">Video</button></td>
            </tr>
          </table>
        </div>
    </mat-expansion-panel>
  </mat-accordion>
  <hr *ngIf="tests.length" style="margin: 30px 0;">
  <div *ngIf="tests.length" >
    <h1 style="margin: 20px 0;">Progression</h1>
    <div>
      <img src="../../assets/images/placeholder.png"/>
    </div>
  </div>
</div>


  