<mat-toolbar color="primary" style="padding-left: 30px;">
  <span>XDP Monitoring Tool</span>
</mat-toolbar>
<div class="<ng-container ></ng-container>" style="margin: 3% 3%;">
  <h1>Patient Registry</h1>
  <mat-form-field style="width: 30%;">
    <mat-label>Search by Patient ID</mat-label>
    <input id="patient-search" (keyup)="searchPatient($event)" [value]="123" matInput/>
  </mat-form-field>
  <mat-icon (click)="triggerSearch()"class="search-icon">search</mat-icon>
  <h1 *ngIf="tests.length" style="margin: 20px 0;">Evaluation History</h1>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let test of tests" style="margin: 20px 0;">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2 style="padding-top: 20px;">{{test['Date']}}</h2>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>
          <p>Medication: {{test['Medicine']}}</p>
        </mat-panel-description>
        <hr>
        <div>
          <table>
            <tr>
              <th>Scale</th>
              <th>Test Type</th>
              <th>Status</th>
              <th>Parameters</th>
              <th>Patient Score</th>
              <th>Normal Score</th>
              <th>Patient Score on Scale</th>
              <th>Data</th>
            </tr>
            <tr *ngFor="let test_row of test['Tests']">
              <td>{{test_row['Scale']}}</td>
              <td>{{test_row['Test type']}}</td>
              <td>
                <button mat-flat-button class="table-color-status" 
                    [style.background-color]="getColour(test_row['Status'])"
                    style="border-width: 2px; cursor: default; width: 200px;">{{test_row['Status']}}
                </button>
              </td>
              <td>
                <p *ngFor="let subtest of test_row['Sub-tests']">
                  {{subtest['Test parameter']}}
                </p>
              </td>
              <td>
                <p *ngFor="let subtest of test_row['Sub-tests']">
                  <td>
                    <b>{{subtest['Score']['Patient']}}</b> {{subtest['Unit']}}
                  </td>
                </p>
              </td>
              <td>
                <p *ngFor="let subtest of test_row['Sub-tests']">
                  <td>
                    {{subtest['Score']['Normal']}} {{subtest['Unit']}}
                  </td>
                </p>
              </td>
              <td>
                <p *ngFor="let subtest of test_row['Sub-tests']">
                  <td>{{subtest['Score']['Scale']}} on {{test_row['Scale']}}</td>
                </p>
              </td>
              <td>
                <button mat-raised-button color="accent" [disabled]="!test_row['Video']" (click)="openDataModal(test_row)">Video</button>
              </td>
            </tr>
          </table>
        </div>
    </mat-expansion-panel>
  </mat-accordion>
  <hr *ngIf="tests.length" style="margin: 30px 0;">
  <div *ngIf="tests.length" >
    <h1 style="margin: 20px 0;">Progression</h1>
    <div>
      <img src="../../assets/images/placeholder.png"/>
    </div>
  </div>

  <!-- Patient not found -->
  <div *ngIf="notFound">
    <p>Patient not Found, use patient ID 123 for demo</p>
  </div>
</div>

<!-- Template: Data Modal Dialog Box -->
<ng-template #dataModalTemplate let-data>
  <div mat-dialog-content>
      <h2><p>{{data['Scale'] + ': ' + data['Test type'] + ' Test'}}</p></h2>
      <mat-tab-group #tabs>
        <mat-tab label="Analysed Video">
          <video controls *ngIf="data['Video']" autoplay width="85%">
            <source [src]="data['Video']" type="video/mp4">
          </video>
        </mat-tab>
        <mat-tab label="Raw Video" disabled> 
        </mat-tab>
      </mat-tab-group>
  </div>
</ng-template>


  